<?xml version="1.0"?>

<configuration>
   <appSettings>
      <add key="datagov.api.key" value="your api key" />
      <add key="datagov.ckanupdate.url" value="http://data.gov.au/api/3/action/resource_update" />
      <add key="datagov.resource.id" value="your resource id" />
      <add key="Timeout.Milliseconds" value="600000" />
   </appSettings>
      
  <system.web>
    <compilation debug="false" targetFramework="4.0" />
  </system.web>
   <system.net>
      <defaultProxy>
         <proxy proxyaddress="proxy:8080"/>
      </defaultProxy>
   </system.net>
</configuration>
